version: '3.8'

services:
  chatbot:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      ENVIRONMENT: container
    ports:
      - "8087:8087"
    depends_on: 
      - mysql
      - rabbitmq
    networks: 
      - mynet
  mysql:
    image: mysql:latest
    restart: always
    container_name: mysql-chatbot
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
        - ./internal/db/init:/docker-entrypoint-initdb.d
    networks:
      - mynet

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - mynet

networks:
  mynet:
    driver: bridge